#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )

<div id="${symbol_dollar}{beanClass.name.toLowerCase()}Edit" data-ng-controller="${symbol_dollar}{beanClass.name}DetailCtrl">
 
    <h2>${symbol_dollar}{beanClass.name} Edit</h2>
    
 	<form class="form-horizontal">
 	
	${symbol_pound}foreach( ${symbol_dollar}field in ${symbol_dollar}beanClass.attributes )
 		<div class="control-group">
			<label class="control-label" for="${symbol_dollar}{field.name}">${symbol_dollar}{field.name}</label>
			<div class="controls">
				<input type="text" id="${symbol_dollar}{field.name}" data-ng-model="one${symbol_dollar}{beanClass.name.toLowerCase()}.${symbol_dollar}{field.name}" />
			</div>
		</div>
  	${symbol_pound}end

	</form>
 	<br />
    <button data-ng-click="update${symbol_dollar}{beanClass.name}()">Save</button>
    <button data-ng-click="remove${symbol_dollar}{beanClass.name}()">Remove</button>
	<button data-ng-click="openList${symbol_dollar}{beanClass.name}Page()">Return to list</button>
 
</div>
