#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )


<div id="${symbol_dollar}{beanClass.name.toLowerCase()}List" data-ng-controller="${symbol_dollar}{beanClass.name}ListCtrl">
 
    <h2>${symbol_dollar}{beanClass.name}s list</h2>

	<table class="table table-striped colortable">
	  <thead>
	    <tr>
			${symbol_pound}foreach( ${symbol_dollar}field in ${symbol_dollar}beanClass.attributes )
		      <th>${symbol_dollar}{field.name}</th>
			${symbol_pound}end
	    </tr>
	  </thead>
	  <tbody>
        <tr data-ng-repeat="(key, value) in ${symbol_dollar}{beanClass.name.toLowerCase()}s">
			${symbol_pound}foreach( ${symbol_dollar}field in ${symbol_dollar}beanClass.attributes )
	      		<td>
	      			<a href="${symbol_dollar}{SHARP}/${symbol_dollar}{beanClass.name.toLowerCase()}/{{key}}">{{value.${symbol_dollar}{field.name}}}</a>
	      		</td>
		  	${symbol_pound}end
	    </tr>
	  </tbody>
	</table>
 
 	<br />
 	<button data-ng-click="openCreate${symbol_dollar}{beanClass.name}Page()">New</button>
 
</div>
